<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.me.mvplib">

    <application>
        <activity android:name=".base.acticity.BaseActivity">
        </activity>
        <activity
            android:name=".base.acticity.BaseMvpActivity"
            android:label="@string/title_activity_base_mvp"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>